<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      
      <!--requires windows server feature: (powershell) Install-WindowsFeature Web-AppInit -->
      <applicationInitialization doAppInitAfterRestart="true"
                                  skipManagedModules="false">
        <add initializationPage="/health" />
      </applicationInitialization>
      <handlers>
        <add name="aspNetCore" path="*" verb="*"
             modules="AspNetCoreModuleV2"
             resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet"
                  arguments=".\SalesforceQuoteIntegration.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_APPL_PATH" value="/" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
